/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: 18px;
}

#main {
    color: #001533;
}

#header {
    height: 80px;
    background-color: #E6F6FE;
    padding: 0 250px ;
    
}

.container-header{
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
}


/* img logo */
.img-logo{
    float: left;
    padding: 16px 0px ;
}

/* Nav */
#nav {
    margin: 0px 0px 0 190px ;
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li a {
    font-size: 16px;
    text-decoration: none;
    color:#001533 ;
    line-height: 80px;
    padding: 0px 24px;
    display: inline-block;
    font-weight: 500;
}

#nav li:hover a {
    text-decoration: none;
    font-weight: 700;
}

/* button Get a demo */
#nav li .btn-1{
    color: #001533;
    border-color: #001533;
    font-weight: 500;
    border-radius: 8px;
    border-width: 2px;
    margin-left: 20px;
}

/* language */
.ti-search{
    float: right;
    color: #001533;
    font-size: 24px;
    padding: 32px;

}
#nav li:hover .btn-1{
    color: #E6F6FE;
    background-color: #001533 ;
}

/* Slider */
#slider{
    background: url("../img/background.png") top center / cover no-repeat  ;
    background-size: 100%;
    height: 900px;
    width: auto;
}

.container-slider {
    width: 1200px;
    margin: auto;
    height: auto;
    padding: 200px 0;
}

h1{
    font-weight: bold;
    color:#001533 ;
}

p {
    color: #001533;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
}

.btn-2 {
    background-color: #34B886;
    border-color: #34B886;
    border-radius: 100px;
}

.btn-2:hover {
    background-color: #227757;
    border-color: #227757;
}

/* content-1 */
#content-1 {
    width: 1200px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}

#ctn-1{
    padding: 50px 0;
    text-align: center;
}

#ctn-1 h1  {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#ctn-1 p {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

h3 {
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
}

.h3-ctn {
    text-align: center;
}


.container-1 {
    width: 1200px;
}

/* content-2 */
#content-2 {
    background: url("../img/background1.png") top center / cover no-repeat;
    background-size: 100%;
    height: 700px;
    width: auto;
}

.container-2{
    width: 1200px;
    margin: auto;
}

.ctn-2 {
    padding: 220px 0px;
}

.img-1 {
    padding: 120px 50px;
}

.icon {
    padding: 20px 0 0 0;
    font-size: 20px;
}

/* content-3 */
#content-3 {
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ctn-3 {
    padding: 190px 0px 200px 55px;
}


.img-2 {
    padding: 120px 0px;
    float: left;
}


/* content-4 */
#content-4 {
    background: url("../img/background2.png");
    background-size: 100%;
    height: 700px;
    width: auto;
}

.container-4 {
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ctn-4 {
    padding: 170px 0;
}

.img-3 {
    padding: 60px 0;
}

/* content-5 */
.container-5 {
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

.ctn-5 {
    padding: 120px 0 120px 55px;
    
}

.img-4{
    padding: 150px 0 150px 0;
}

/* content-6 */
#content-6 {
    background: url("../img/background3.png");
    background-size: 100%;
    height: 520px;
    width: auto;
}

.container-6 {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.form-1 {
    padding-top: 30px;
}

.btn-form-1 {
    width: 600px;
    border-radius: 100px;
    background-color: #34B886;
    border: none;
    padding: 12px 0;
    margin-top: 12px;
}

.btn-form-1:hover {
    background-color: #227757;
}

.mb3-name{
    padding: 10px 20px;
    border-radius: 100px;
}

.mb3-phone {
    padding: 10px 20px;
    border-radius: 100px;
}


/* content-7 */
#content-7{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
}
    
.ctn-7 {
    padding-top: 80px;
}

.icon-big{
    padding-top: 30px;
}

/* content-8 */
#content-8{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.ctn-8{
    padding: 50px 0;
}


/* footer */
#footer {
  
}