/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 12px 0;
}

p{
    font-size: 16px;
    font-weight: 600;
}

#main {
    color: #001533;
}

/* header */
#header {
    height: 120px;
    background-color: #E6F6FE;    
}


.img-logo{
    float: left;
    line-height: 120px;
}

#nav {
    display: inline-block;
    line-height: 120px;
}

#nav li {
    display: inline-block;
}

#nav li a {
    float: rights;
    font-size: 16px;
    text-decoration: none;
    color:#001533 ;
    line-height: 80px;
    padding: 0px 14px;
    display: inline-block;
    font-weight: 500;
}

#nav li:hover a {
    text-decoration: none;
    font-weight: 700;
}

#nav li .btn-1{
    color: #001533;
    border-color: #001533;
    font-weight: 500;
    border-radius: 8px;
    border-width: 2px;
    margin-left: 10px;
}

#nav li:hover .btn-1{
    color: #E6F6FE;
    background-color: #001533 ;
}

.language {
    line-height: 120px;
    padding: 50px 0;
}


/* Slider */
#slider{
    background: url("../img/background.png") top center / cover no-repeat  ;
    background-size: cover;
    height: 668px;
    max-width: auto;
}

.ctn-slider{
    padding-top: 100px;
}

.btn-2 {
    background-color: #34B886;
    border-color: #34B886;
    border-radius: 100px;
}

.btn-2:hover {
    background-color: #227757;
    border-color: #227757;
}

/* content-1 */

#ctn-1{
    padding: 10px 0;
    text-align: center;
}

#ctn-1 h1  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0 20px 0;
}

#ctn-1 p {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 28px;
}

h3 {
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
}

.h3-ctn {
    text-align: center;
}


.container-1 {
    width: 1200px;
}

.img-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colum-item{
    margin-bottom: 50px;
}
/* content-2 */
#content-2 {
    background: url("../img/background1.png") top center / cover no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
    width: 100%;
    margin: 0 auto;
}

.ctn {
    margin-bottom: 30px;
}

.ctn-2 {
    padding: 200px 20px;
}

.img-1 {
    line-height: 650px;
    margin: 75px 0;
    max-width: 100%;
    height: auto;
}


/* content-3 */
#content-3 {
    height: 650px;
}

.ctn-3 {
    padding: 150px 20px;
}

.img-2 {
    line-height: 650px;
    margin: 75px 0;
}

/* content-4 */
#content-4 {
    background: url("../img/background1.png")top center / cover no-repeat;
    background-size: cover;
    height: 650px;
    width: auto;
}

.container-4 {
    width: 1200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ctn-4 {
    padding: 170px 20px;
}

.img-3 {
    margin: 75px 0;
}


/* content-5 */
#content-5{
    height: 500px;
}

.ctn-5 {
    padding: 80px 20px;   
}

.img-4{
    padding: 100px 0 ;
}

/* content-6 */
#content-6 {
    background: url("../img/background3.png");
    background-size: cover;
    height: 470px;
    width: auto;
}

.ctn-6 {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.form-1 {
    padding-top: 30px;
}

.btn-form-1 {
    width: 576px;
    border-radius: 100px;
    background-color: #34B886;
    border: none;
    padding: 12px 0;
    margin-top: 12px;
}

.btn-form-1:hover {
    background-color: #227757;
}

.mb3-name{
    padding: 10px 20px;
    border-radius: 100px;
}

.mb3-phone {
    padding: 10px 20px;
    border-radius: 100px;
}


/* content-7 */
#content-7{
    height: 480px;
    background-color: #FFFFFF;
    background-size: auto;
}
    
.ctn-7 {
    padding-top: 50px;
}

.icon-big{
    padding-top: 20px;
}

.Data-Privacy {
    background: #FEF8DC;
    border-radius: 12px;
    height:256px;
    width: 340px;
    padding: 30px;
    margin-left: 10px;
}

.Payment-Policy {
    background: #DDF8EF;
    border-radius: 12px;
    height:256px;
    width: 340px;
    padding: 30px;
    margin-left: 30px;
}

.Usage-Policy {
    background: #E6F6FE;
    border-radius: 12px;
    height:256px;
    width: 340px;
    padding: 30px;
    margin-left: 30px;
}

.h2-ctn7 {
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
}

/* content-8 */
#content-8{
    height: 450px;
}

.img-content8 {

    padding: 46px 0;
}

.ctn-8 {
    padding: 100px 20px;
}

/* footer */
#footer {
    background: url("../img/footer.png") center / cover no-repeat;
    background-size: cover;
    height: 710px;
    width: auto;
}

.ctn-footer {
    padding-top: 60px;
}

.form-footer {
    background-color: #FFFFFF;
    width: 470px;
    height: 620px;
    border-radius: 12px;
    margin-top: 60px;
    margin-left: 7v0px;
    float: right;
}

.form-footer {
    padding: 50px 20px 0 20px;
}

h4 {
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-form {
    height: 48px;
    border-radius: 100px;
    float: right;
    margin-bottom: 20px;
    padding: 12px 20px; 
}

.form-footer-label {
    font-size: 16px;
    font-weight: bold;
}


.control-footer {
    margin-top: 10px;
    border-radius: 20px;
    padding:12px 20px;
    margin-bottom: 20px;
    height: 150px;
}

/* ? */
.form-message-1 {
    height: 150px;
    border-radius: 20px;
    padding: 20px;    
}
/* ? */

.btn-footer {
    width: 404px;
    height: 48px;
    background: #218C64;
    border-radius: 1000px;
    border: none;
    margin-top: 10px;
}

.btn-footer:hover {
    background-color: #06472C;
}


/* end */
#end-jsh {
    background:#001533 ;
    height: 80px;
    width: auto;
}


.p-end {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 80px;
    margin: 0;
}

.end-logo {
    float: right;
    line-height: 80px;
}










/* Tab: min width > 720 - max width < 1020px */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
    #main {
        flex-direction: column;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }

    .container {
        padding: 0 3%;
        flex-direction: column-reverse;
    }
    #nav {
        display: none;
    }

    .language {
        display: none;
    }

    .container {
        width: auto;
        margin: 0 auto;
    }

    #slider {
        background: url("../img/tab/background.png")top center / cover no-repeat;
        background-size: cover;
    }

    /* content-2 */
    #content-2 {
        background: url(../img/tab/background-2.png) top center / cover no-repeat;
        background-size: 100%;
        height: auto;
        width: 100%;
    }

    .img-1 {
        max-width: 100%;
        margin: 100px 0;
    }

    /* content-3 */
    .img-2 {
        max-width: 100%;
        margin: 100px 0;
    }
    
    /* content-4 */
    .img-3 {
        max-width: 100%;
        margin: 100px 0;
    }
    
    /* content-5 */
    .img-4 {
    max-width: 100%;
    padding: 130px 0;
    }

    /* content-6 */

    .ctn-6 {
        width: 550px;
        padding-top: 50px;
    }

    .btn-form-1 {
        width: 470px;
    }

    .mb3-phone {
        width: 470px;
    }

    .mb3-name {
        width: 470px;
    }

    /* content-7 */
    .Data-Privacy {
        background: #FEF8DC;
        border-radius: 12px;
        height: auto;
        width: 30%;
        padding: 30px;
        margin-left: 10px;
    }

    .Payment-Policy {
        background: #DDF8EF;
        border-radius: 12px;
        height: auto;
        width: 30%;
        padding: 30px;
        margin-left: 30px;
    }

    .Usage-Policy {
        background: #E6F6FE;
        border-radius: 12px;
        height: auto;
        width: 30%;
        padding: 30px;
        margin-left: 30px;
    }

    /* content-8 */
    #content-8 {
        height: 100%;
    }

    .img-content8 {
        width: 100%;
    }

    /* footer */
    .background-footer {
        width: 50%;
    }

    /* end */
    .p-end {
        margin-bottom: 0;
    }

    

}








/* Tab: min width > 1025 - max width < 1199px */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    #nav li a {
        font-size: 14px;
    }

    .container {
        padding: 0 4%;
    }

    /* content-2 */
    .img-1 {
        line-height: 650px;
        margin: 50px 0;
        max-width: 95%;
        height: auto;
    }

    #content-2 {
        background: url(../img/background1.png) top center / cover no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        width: 100%;
        margin: 0 auto;
    }

    .ctn-2 {
        padding: 150px 0;
    }


    /* content-3 */
    #content-3 {
        height: 550px;
    }

    .ctn-3 {
        padding: 100px 20px;
    }

    .img-2 {
        max-width: 95%;
    }

    /* content-4 */
    #content-4 {
        height: 550px;
    }

    .img-3 {
        max-width: 95%;
    }

    /* content-5 */
    .img-4 {
        max-width: 95%;
    }

    #content-5 {
        height: 450px;
    }

    .ctn-5 {
        padding: 60px 20px;
    }
    
    /* content-6 */
    .ctn-6 {
        padding: 4% 0;
    }

    .btn-form-1 {
        width: 100%;
    }


    /* content-7 */
    .Data-Privacy {
        height: 250px;
        width: 31%;
    }

    .Payment-Policy {
        height: 250px;
        width: 31%;
        margin-left: 20px;
    }

    .Usage-Policy {
        height: 250px;
        width: 31%;
        margin-left: 20px;
    }

    /* content-8 */
    .img-content8 {
        max-width: 90%;
        padding: 20px 0;
    }

    .ctn-8 {
        padding: 50px 0;
    }

    #content-8 {
        height: 350px;
    }

    .form-footer {
        width: 500px;
    }

    .btn-footer {
        width: 100%;
    }



}









/* Tab: min width > 720 - max width < 991px */
@media only screen and (min-width: 720px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
    }

    /* footer */

    .form-footer {
        width: 100%;
    }

    .btn-footer {
        width: 100%;
    }

}





/* Tab: min width > 720 - max width < 890px */
@media only screen and (min-width: 720px) and (max-width: 890px) {
    .main{

    }

    .container {
        max-width: 100%;
        margin: 0 4%;
        padding: 0 0;
    }

    h1 {
        font-size: 34px;
    }

    p {
        font-size: 18px;
    }

    .row {
        width: 100%;
    }

    .col-3 {
        width: 50%;
    }

    .col-6 {
        width: 100%;
    }

    /* slider */
    #slider {
        background: url("../img/Tab-890/background.png") top center / cover no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
    }

    .ctn-slider {
        width: 50%;
    }

    /* content-2 */
    #content-2{
        background: url("../img/Tab-890/background-content-2.png");
        height: 850px;
    }
    .ctn-2 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-1 {
        max-width: 100%;
        margin:  0 12%;
    }

    /* content-3 */
    #content-3 {
        height: 1000px;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .ctn-3 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-2 {
        max-width: 100%;
        margin:  20px 10%;
    }

    /* content-4 */
    #content-4{
        background: url("../img/Tab-890/background-content-2.png");
        height: 920px;
    }

    .ctn-4 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-3 {
        max-width: 100%;
        margin:  20px 10%;
    }

    /* content-5 */
    #content-5 {
        height: 780px;
    }

    .ctn-5 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-4 {
        max-width: 100%;
        margin:  20px 10%;
        padding: 0 0;
    }

    /* content-6 */
    .ctn-6 {
        max-width: 70%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .mb3-name {
        width: 100%;
    }

    .mb3-phone {
        width: 100%;
    }

    .btn-form-1 {
        width: 100%;
    }

    #content-6{
        background: url("../img/Tab-890/background-content-2.png");
        height: 500px;
    }

    /* content-7 */
    #content-7 {
        height: 1000px;
    }
    .col-4 {
        width: 45%;
    }
    .ctn-7 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .icon-big {
        width: 90%;
        margin: 0 4%; 
        padding: 4% 0;
    }

    .Usage-Policy {
        margin: 5% 27%;
    }

    /* content-8 */
    #content-8 {
        height: 800Px;
        margin-bottom: 50px;
    }

    .ctn-8 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-content8 {
        max-width: 98%;
        margin: 0 0 0 3%;
        padding: 0;
    }

    /* footer */
    #footer {
        height: 1100px;
    }

    .form-footer {
        width: 400px;
        margin: 0 17% 0 0;
    }

    .ctn-footer {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

}









/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .main{

    }

    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 0;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .row {
        width: 100%;
    }

    .col-3 {
        width: 50%;
    }

    .col-6 {
        width: 100%;
    }

    /* header */
    #nav {
        display: none;
    }

    .language {
        display: none;
    }

    /* slider */
    #slider {
        background: url("../img/Tab-890/background.png") top center / cover no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
    }

    .ctn-slider {
        width: 50%;
    }

    /* content-2 */
    #content-2{
        background: url("../img/Tab-890/background-content-2.png");
        height: 850px;
    }
    .ctn-2 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-1 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    /* content-3 */
    #content-3 {
        height: 1000px;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .ctn-3 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-2 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    /* content-4 */
    #content-4{
        background: url("../img/Tab-890/background-content-2.png");
        height: 920px;
    }

    .ctn-4 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-3 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    /* content-5 */
    #content-5 {
        height: 780px;
    }

    .ctn-5 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-4 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0 0;
    }



    /* content-6 */
    .ctn-6 {
        max-width: 70%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .mb3-name {
        width: 100%;
    }

    .mb3-phone {
        width: 100%;
    }

    .btn-form-1 {
        width: 100%;
    }

    #content-6{
        background: url("../img/Tab-890/background-content-2.png");
        height: 500px;
    }

    /* content-7 */
    #content-7 {
        height: 900px;
    }
    .col-4 {
        width: 45%;
    }
    .ctn-7 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .icon-big {
        width: 90%;
        margin: 0 4%; 
        padding: 4% 0;
    }

    .Data-Privacy {
        height: 300px;
        padding: 20px;
    }

    .Payment-Policy {
        height: 300px;
        padding: 20px;
        margin-left: 30px;
    }

    .Usage-Policy {
        height: 300px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    /* content-8 */
    #content-8 {
        height: 750Px;
    }

    .ctn-8 {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .img-content8 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    /* footer */
    #footer {
        height: 1100px;
    }

    .form-footer {
        width: 400px;
        margin: 0 17% 0 0;
    }

    .ctn-footer {
        max-width: 90%;
        margin: 0 auto; 
        padding: 5% 0;
    }

    .btn-footer {
        width: 100%;
    }

    .form-footer {
        margin: 0;
    }
    
}


/* Mobile: width < 696px */
@media only screen and (max-width: 696px) {
    #main{
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .row {
        width: 100%;
        margin: 0 0;
    }

    /* slider */
    #slider {
        background: url("../img/mobile-690/background.png") top center / cover no-repeat;
        max-width: 100%;
        background-size: cover;
        height: 890px;
    }

    .ctn-slider {
        width: 100%;
        padding-top: 20px;
    }

    /* content-1 */
    #ctn-1 {
        width: 100%;
    }

    .img-item {
        width: 60%;
    }

    .colum-item p {
        width: 70%;
        margin: 0 auto;
    }

    /* content-2 */
    #content-2 {
        height: 750px;
    }

    .ctn-2 {
        margin: 0 auto;
    }

    .img-1 {
        width: 80%;
    }

    /* content-3 */
    #content-3 {
        height: 850px;
    }
    .img-2 {
        width: 80%;
    }

    /* content-4 */
    #content-4 {
        height: 800px;
    }

    .img-3 {
        width: 80%;
    }

    /* content-5 */
    #content-5 {
        height: 700px;
    }

    .img-4 {
        width: 80%;
    }

    /* content-6 */
    #content-6 {
        height: 450px;
    }

    /* content-7 */
    #content-7 {
        height: 800px;
    }

    .Data-Privacy {
        height: 250px;
        padding: 20px;
    }

    .Payment-Policy {
        height: 250px;
        padding: 20px;
        margin-left: 30px;
    }

    .Usage-Policy {
        height: 250px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px;
    }

    /* fotter */
    .form-footer {
        margin: 0 10%;
    }

} 








/* Mobile: width < 669px */
@media only screen and (max-width: 669px) {
    .container {
        width: 100%;
        margin:  0 auto;
    }

    /* content-2 */
    #content-2 {
        height: 100%;
        padding-bottom: 10%;
    }

        /* content-3 */
        #content-3 {
            height: 100%;
            padding-bottom: 10%;
        }

    /* content-4 */
    #content-4 {
        height: 100%;
        padding-bottom: 10%;
    }

    #content-5 {
        height: 100%;
        padding-bottom: 10%;

    }

    /* content-7 */
    #content-7 {
        height: 100%;
        padding-bottom: 5%;
    }

    .ctn-7 {
        max-width: 100%;
        margin: 50px 0 0 0;
        padding: 0 0;
    }

    .row {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .Data-Privacy {
        height: auto;
        padding: 50px;
        margin: 10px 0;
    }

    .Payment-Policy {
        height: auto;
        padding: 50px;
        margin-left: 30px;
        margin: 10px 0;
    }

    .Usage-Policy {
        height: auto;
        display: block;
        margin: 10px 0;
        padding: 50px;
    }

    /* content-8 */
    .img-content8 {
        margin: 0 0;
        padding: 0 0;
    }

    #content-8 {
        height: 650px;
    }

    /* footer */
     .form-footer {
        display: inline-block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* end */
    .col-end {
        width: 100%;
        margin: 0 auto;
    }

    #end-jsh {
        height: 160px;
    }

    .end-logo {
        display: block;
        margin-right: 40%;
    }

    .p-end {
        margin-left: 10%;
    }

}






/* Mobile: width < 578px */
@media only screen and (max-width: 578px) {
    #main {
        width: 578px;
    }

    .container {
        max-width: 546px;
        margin: 0 16px;
    }

    /* footer */
    .form-footer {
        margin:  0 0;
    }

    .background-footer {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* end */
    #end-jsh {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .p-end {
        text-align: center;
        max-width: 100%;
        font-size: 14px;
        margin: 0 auto;
    }

}

.bar-btn {
    display: none;
    line-height: 120px;
    float: right;
}

.nav-overlay {
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
}


/* Mobile: width < 1024px */
@media only screen and (max-width: 1024px) {
    .bar-btn {
        display: block;
    }
}





/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    .col-1{
        width: 10%;
    }
    .bar-btn {
        display: block;
    }
}


/* Tab: min width > 1025 - max width < 1060px */
@media only screen and (min-width: 1025px) and (max-width: 1060px) {
    #nav {
        display: none;
    }

    .language {
        display: none;
    }

    .bar-btn {
        display: block;
    }
}



